.header {
    background: linear-gradient(to left, $color3, $color1);
    padding: 10px 0;
    h1 {
        margin: 0;
        color: $white;
        font-size: 60px;
        font-weight: 700;
        text-transform: capitalize;
    }
}
.heading {
    border-left: 5px solid $color1;
    padding: 20px;
    margin: 60px 0;
    h1 {
        font-size: 50px;
        text-transform: uppercase;
        font-weight: 700;
        color: $color1;
        margin: 0;
    }
}
.team {
    margin-bottom: 100px;
}
a:hover {
    text-decoration: none;
}